<div class="card-body">
    <small class="card-meta mb-2">Quiz</small>
    <h4 class="card-title mt-0 text-white">{{quizQuestion}}</h4>
    {{#if quizReleaseDate}}
    <small><i class="far fa-clock"></i> {{quizReleaseDate}}</small>
    {{/if}}
</div>
<div class="card-footer">
    {{#if quizReset}}
    <p><a class="btn btn-primary btn-block px-3 py-2" href="{{quizURL}}">{{quizResetBtnLabel}}</a></p>
    {{/if}}
    {{#if quizScore}}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{quizScore}}%"
            aria-valuenow="{{quizScore}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="mt-3"> <span class="text1">{{quizScore}}<span class="text2">/100</span></span> </div>
    {{else}}
    <p><a class="btn btn-primary btn-block px-3 py-2" href="{{quizURL}}">{{quizStartBtnLabel}}</a></p>
    {{/if}}
</div>


{{!-- <div class="d-flex justify-content-between"> --}}
{{!--     <div class="d-flex flex-row align-items-center"> --}}
{{!--         <div class="icon"> <i class="bx bxl-mailchimp"></i> </div> --}}
{{!--         <div class="ms-2 c-details"> --}}
{{!--             {{#if quizReleaseDate}} --}}
{{!--             <h6 class="mb-0">Completed</h6> <span>{{quizReleaseDate}}</span> --}}
{{!--             {{else}} --}}
{{!--             <h6 class="mb-0">Open</h6> --}}
{{!--             {{/if}} --}}
{{!--         </div> --}}
{{!--     </div> --}}
{{!--     <div class="badge"> <span>Quiz</span> </div> --}}
{{!-- </div> --}}
{{!-- <div class="mt-5"> --}}
{{!--     <h3 class="heading">{{quizQuestion}}</h3> --}}
{{!--     <div class="mt-5 quiz-score-loaded-subscriber" id="${quizElemtId}"> --}}
{{!--         {{#if quizScore}} --}}
{{!--         <div class="progress"> --}}
{{!--             <div class="progress-bar" role="progressbar" style="width: {{quizScore}}%" --}}
{{!--                 aria-valuenow="{{quizScore}}" aria-valuemin="0" aria-valuemax="100"></div> --}}
{{!--         </div> --}}
{{!--         <div class="mt-3"> <span class="text1">{{quizScore}} <span class="text2">/100</span></span> </div> --}}
{{!--         {{else}} --}}
{{!--         <p><a class="btn btn-primary btn-sm px-3 py-2" href="{{quizURL}}">{{quizStartBtnLabel}}</a></p> --}}
{{!--         {{/if}} --}}
{{!--     </div> --}}
{{!-- </div> --}}
